@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo), sans-serif;
  font-weight: 900;
}

nav {
  font-size: 2.5rem;
}

