@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo), sans-serif;
  /* font-weight: 900; */
}

nav {
  font-size: 2.5rem;
}

h1 {
  font-size: 100px;
  font-weight: 900;
}

h2 {
  font-size: 25px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
  font-weight: 800;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
}
