@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.theme-dark {
  background: #000000;
  color: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo), sans-serif;
  /* font-weight: 900; */
}

nav {
  font-size: 2.5rem;
}

h1 {
  font-size: clamp(64px, 10vw, 180px);
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: clamp(72px, 6vw, 80px);
  font-weight: 400;
  line-height: 4.5rem;
}

h3 {
  font-size: clamp(42px, 4vw, 50px);
  font-weight: 400;
}

h4 {
  font-size: clamp(20px, 2.5vw, 22px);
  font-weight: 600;
}

p {
  font-size: clamp(16px, 1.2vw, 18px);
  font-family: var(--font-newsreader), serif;
  font-weight: 400;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  cursor: pointer;
}
